*{
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', sans-serif;
}
/* Start of Home */
.hero header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 80px;
    position: fixed;
    width: 1370px;
    z-index: 99;
}

.hero header a img{
    height: 55px;
}

.hero header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero header nav .active{
    border-bottom: 2px solid orange;
}

.hero header nav li a{
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


 li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: orange;
  }

  li.dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-content {
    display: none;
    color: black;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color:black; 
    padding: 12px 16px;
    text-decoration: none;   
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: orange;
}
  .dropdown:hover .dropdown-content {
    display: block;
  }


.hero header button{
    padding: 17px;
    font-size: 15px;
    background-color: black;
    color: orange;
    border-color: orange;
    font-weight: 500;
}

.hero header button:hover{
    color: white;
    background-color: orange;
}

.hero header .social{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
    font-size: 20px;
    margin-right: 20px;
    transform: scaleX(1);
}

.hero header .social p:hover{
    color: orange;
    transform: scaleX(-1);
    transition: all 0.4s ease-out 0s;
    margin-top: -2px;
}

.hero header .social p{
    padding: 15px;
    transform: scaleX(1);
    transition: all 0.4s;
}

.hero header .topnav{
    display: none;
}

.hero .intro{
    /* padding-top: 100px; */
    background: url(img/h1_hero1.jpg.webp) no-repeat center;
    height: 700px;
}

.hero .intro h1{
    color: white;
    padding: 340px 0 0 150px;
    font-size: 55px;
    font-weight: 100;
}

.hero .intro button{
    margin-left: 150px;
    padding: 25px;
    font-size: 20px;
    background-color: orange;
    border: none;
    font-weight: 700;
}

.hero .about{
    background-color: black;
    color: white;
    padding: 70px 90px 20px 150px;
}

.hero .about h1{
    text-align: center;
    font-weight: 100;
    font-size: 40px;
}

.hero .about h3{
    font-weight: 100;
    width: 50%;
    text-align: left;
    margin: 15px 0 15px 50px;
    color: orange;
    font-size: 25px;
}

.hero .about p{
    width: 50%;
    text-align: left;
    padding-bottom: 20px;
    margin-left: 50px;
    font-weight: 100;
}

.hero .about img{
    float: right;
    height: 320px;
    width: 460px;
}

.hero .items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    padding: 80px 120px;
}

.hero .items .item img{
    width: 340px;
    padding-bottom: 5px;
}

.hero .items .item p{
    font-size: 24px;
    padding: 10px 0 0;
}

.hero .items .item p.price{
    font-size: 20px;
    color: orange;
    font-family: 'Jost', sans-serif;
}

.hero .video{
    background-color: black;
}

.hero .video video{
    width: 80%;
    text-align: center;
    margin: 80px 0px 0px 150px;
}

.hero .review{
    background-color: black;
    color: white;
    padding: 80px;
}

.hero .review h1{
    text-align: center;
    padding-bottom: 80px;
    font-weight: 200;
    font-size: 45px;
}

.hero .review .replies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    border: solid 1px grey;
    border-left: none;
    border-right: none;
}

.hero .review .replies .reply{
    font-size: 25px;
    width: 300px;
    border: solid 1px grey;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: solid 1px;
    padding: 0px 0px;
}

.hero .review .replies .reply p{
    padding-bottom: 70px;
}

.hero .review .replies .reply p.person{
    padding-bottom:  0px;
}

.hero .blogs{
    background-color: black;
    color: white;
    padding-top: 70px;
    padding-bottom: 170px;
}

.hero .blogs h1{
    text-align: left;
    font-weight: 300;
    padding-left: 80px;
    font-size: 35px;
}

.hero .blogs button{
    float: right;
    padding: 17px 40px;
    color: black;
    background-color: orange;
    margin-top: -55px;
    font-weight: 800;
    border-color: orange;
    margin-right: 80px;
    border-width: 1px;
    font-weight: 900;
}

.hero .blogs button:hover{
    color: orange;
    background-color: black;
    border-color: orange;
}

.hero .blogs .posts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}

.hero .blogs .posts .post{
    display: flex;
    height: 380px;
}


.hero .blogs .posts .post .write{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px grey;
    padding: 0px 17px;
}

.hero .blogs .posts .post .write h2{
    color: rgba(175, 122, 25, 0.938);
}

.hero .blogs .posts .post img{
    width: 50%;
    height: 380px;
}

.hero .blogs .posts .post .write a{
    color: orange;
    text-decoration: none;
}

.hero .follow{
    background-color: black;
    color: white;
}

.hero .follow h1{
    text-align: center;
    padding-bottom: 30px;
    font-weight: 400;
}

.hero .follow a {
    margin-left: 630px;
    text-decoration: none;
    color: orange;
    font-size: 20px;
    border: solid 1px;
    padding: 10px;
} 

.hero .follow .insta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding: 80px 70px;
}

.hero .follow .insta img{
    height: 200px;
    width: 280px;
}

.hero .foot{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    border-bottom: solid 1px white;
}

.hero .foot ul{
    display: flex;
    list-style-type: none;
}

.hero .foot ul li a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 20px;

}

.hero .footrow{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 60px 70px;
    border-bottom: solid 1px;
}

.hero .footrow .cont{
    width: 50%;
}

.hero .footrow .cont p{
    padding-bottom: 60px;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
}

.hero .footrow .cont a button{
    background-color: black;
    color: white;
    padding: 15px 20px;
    border: solid 1px;
    width: 120px;
}

.hero .footrow .info{
    display: flex;
    justify-content: space-between;
    
}

.hero .footrow .info .location, .hero .footrow .info .contact{
    width: 250px;
    font-size: 20px;
}

.hero .footrow .info .location h2, .hero .footrow .info .contact h2{
    color: orange;
    font-family: 'Jost', sans-serif;
}

.hero .footrow .info .location p, .hero .footrow .info .contact p{
    font-family: 'Jost', sans-serif;
}

.hero .end{
    background-color: black;
    color: white;
    padding: 30px 0;
    text-align: center;
}
/* End of Home */

/* Start of Cake */
.hero .cakes{
    flex-wrap: wrap;
    gap: 30px 0;
}

.hero .cIntro{
    height: 400px;
}

.hero .cIntro h1{
    padding: 250px 0 0 150px;
}
/* End of Cake */

/* Start of About */
.hero .abIntro{
    height: 400px;
}

.hero .abIntro h1{
    padding: 250px 0 0 150px;
    font-size: 70px;
}
/* End of About */

/* Start of Contact */
.hero .coIntro{
    height: 400px;
}

.hero .coIntro h1{
    padding: 230px 0 0 150px;
    font-size: 70px;
}

.hero .map{
    text-align: center;
    background-color: black;
    padding: 100px 0;
}

.hero .message{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 200px;
}

.hero .message .form form input{
    width: 350px;
    margin: 20px 0;
    text-indent: 10px;
    background-color: black;
    color: white;
    border: solid .5px;
    padding: 15px 0;
    font-family: 'Jost', sans-serif;
    
}

.hero .message .form form input.width{
    width: 100%;
}

.hero .message .form form button{
    color: black;
    background-color: rgb(165, 110, 9);
    padding: 17px 40px;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 900;
    border: solid 1.5px;
}

.hero .message .conInfo{
    margin-top: 40px;
    /* margin-left: -400px; */
}

.hero .message .conInfo .info{
    display: flex;
    padding: 10px 0;
}

.hero .message .conInfo .info .icon{
    font-size: 25px;
    padding-right: 16px;
}
/* End of Contact */

/* Start of Blog */
.hero .blIntro{
    height: 350px;
}

.hero .blIntro h1{
    padding: 150px 0 0 150px;
    font-size: 70px;
}

.hero .blog{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    /* padding: 0 20px 0 100px; */
    
}

.hero .blog .posters{
    background-color: black;
    padding: 120px 0px 0px 140px;
      
}

.hero .blog .posters .poster{
    display: block;
    width: 70%;
    background-color: black;
    color: white;
    margin-bottom: 30px;
    padding-bottom: 25px;
    position: relative;
}

.hero .blog .posters .poster .article .date{
    position: absolute;
    color: white;
    background-color: orange;
    height: 70px;
    width: 65px;
    border-radius: 10%;
    margin-left: 20px;
    top: 330px;
}

.hero .blog .posters .poster .article .date h2{
    margin-bottom: -20px;
    margin-top: -25px;
}

.hero .blog .posters .article{
    box-shadow: white 0px 1px 10px 0px;
    margin-top: -3px;
}

.hero .blog .posters .poster img{
    width: 100%;
}

.hero .blog .posters .poster h2{
    padding: 40px 0 20px 20px;
    width: 65%;
}

.hero .blog .posters .poster h2:hover{
    color: orange;
}

.hero .blog .posters .poster p{
    text-align: justify;
    width: 85%;
    padding: 0 20px 40px;
}


.hero .blog .posters .poster p.bottom{
    color: orange;
}

.hero .blog .posters .poster p.bottom .trav{
    border-right: solid 1px;
    padding: 0px 10px 0 0px;
    width: 140px;
}

.hero .blog .posters .poster p.bottom .com{
    padding-left: 15px;
}

.hero .blog .widgets{
    padding-top: 120px;
    width: 30%;
    margin-left: -320px;
}


.hero .blog .widgets .search{
    display: inline;
    background-color: white;
}

.hero .blog .widgets .search form{
    background-color: white;
    width: 300px;
    height: 100px;
}

.hero .blog .widgets .search form input{
    margin-top: 30px;
    margin-left: 30px;
    padding: 15px 20px; 
    border: solid .1px;
} 

.hero .blog .widgets .search form button{
    background-color: orange;
    color: white;
    padding: 12px 12px 14px 12px;
    border: none;
    font-size: 20px;
}

.hero .blog .widgets .category{
    margin-top: 30px;
    background-color: white;
    color: black;
    width: 300px;
    text-indent: 15px;
}

.hero .blog .widgets .category p{
    padding: 15px 0;
    font-family: 'Jost', sans-serif;
}


.hero .blog .widgets .category h2{
    font-weight: 100;
    padding-bottom: 20px;
    padding-top: 10px;
}

.hero .blog .widgets .recents{
    background-color: white;
    color: black;
    width: 300px;
    margin-top: 30px;
    text-indent: 20px;
}

.hero .blog .widgets .recents h2{
    padding: 20px 0;
    font-weight: 100;
}

.hero .blog .widgets .recents p{
    padding: 20px 0;
    font-family: 'Jost', sans-serif;
}

.hero .blog .widgets .tag{
    background-color: white;
    color: black;
    margin-top: 30px;
    width: 300px;    
    padding-bottom: 30px;
}

.hero .blog .widgets .tag h2{
    text-indent: 14px;
    font-weight: 100;
    padding: 20px 0 20px 0;
}

.hero .blog .widgets .tag p{
    text-align: justify;
    text-indent: 15px;
    margin-top: 10px;
}

.hero .blog .widgets .tag p button{
    color: rgb(255, 166, 2);
    background-color: white;
    border: solid 1px rgb(180, 175, 175);
    padding: 10px 14px;
    font-weight: 600;
}

.hero .blog .widgets .tag p button:hover{
    color: white;
    background-color: orange;
}

.hero .blog .widgets .feeds{
    color: black;
    background-color: white;
    width: 300px;
    margin-top: 30px;
}

.hero .blog .widgets .feeds h2{
    text-indent: 17px;
    padding: 20px 0;
}

.hero .blog .widgets .feeds p{
    display: flex;
    flex-wrap: wrap;
}

.hero .blog .widgets .feeds p img{
    padding: 10px 5px;
}

.hero .blog .widgets .newsletter{
    width: 300px;
    color: black;
    background-color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.hero .blog .widgets .newsletter h2{
    text-indent: 15px;
    padding: 20px 0;
}

.hero .blog .widgets .newsletter input{
    width: 250px;
    margin-left: 14px;
    padding: 10px 10px;
    margin-top: 40px;
    border: solid .1px;
}

.hero .blog .widgets .newsletter button{
    width: 275px;
    padding: 15px;
    margin-left: 14px;
    margin-top: 30px;
    color: orange;
    background-color: white;
    border: solid 1px;
    margin-bottom: 30px;
}

.hero .blog .widgets .newsletter button:hover{
    color: white;
    background-color: orange;
}


@media screen and (max-width: 430px){
    .hero header nav{
        display: none;
    } 

    .hero header button{
        display: none;
    } 

    .hero header .social{
        display: none;
    } 

    .hero header .topnav{
        display: block;
    }

    .hero header{
        height: 50px;
        width: 430px;
    }
    
    .hero header a img{
        height: 35px;
        margin: 10px 0 0 -80px;
    }
    
    .hero header .topnav{
        position: relative;
    }

    .hero header .topnav .icon{
        /* margin-right: -30px; */
        position: absolute;
        right: -70px;
        top: -10px;
    }

    .hero header .topnav a{
        color: orange;
    }

    .hero header .topnav #myLinks{
        position: absolute;
        right: -101px;
        top: 25px;
        width: 430px;
        background-color: orange;
        opacity: 0;
        transform: scale(0);
        transition: .6s ease opacity,.6s ease transform;
    }

    .hero header .topnav #myLinks a{
        display: block;
        text-decoration: none;
        padding: 8px 8px;
        margin-left: 10px;
        text-align: left;
        color: #f1f1f1;
    }

    .hero header .topnav #myLinks a:hover{
        color: orange;
        background-color: white;
    }

    .hero .intro{
        background: url(img/h1_hero1.jpg.webp) no-repeat center/cover;
        height: 300px;
        width: 430px;
        /* margin-top: -20px; */
    }
    
    .hero .intro h1{
        color: white;
        position: absolute;
        top: -180px;
        left: -140px;
        font-size: 25px;
        font-weight: 400;
    }
    
    .hero .intro button{
        font-size: 15px;
        background-color: orange;
        border: none;
        font-weight: 700;
        margin: 220px 0 0 10px;
        height: 40px;
        width: 100px;
        padding: 5px;
        
    }

    .hero .about{
        padding: 0;
        width: 430px;
        padding-bottom: 250px;
    }
    
    .hero .about h1{        
        padding: 20px 0;
        font-size: 25px;
    }
    
    .hero .about h3{
        width: 100%;
        margin: 0;
        padding: 0 0 10px 20px;
        font-size: 20px;
    }
    
    .hero .about p{
        width: 93%;
        padding-left: 20px;
        margin: 0;
    }
    
    .hero .about img{
        float: none;
        height: 200px;
        width: 90%;
        position: absolute;
        top: 790px;
        margin-left: 21px;
    }

    .hero .items{
        padding: 0 0 50px 0;
        flex-wrap: wrap;
        width: 430px;
    }
    
    .hero .items .item{
        width: 40%;
    }

    .hero .items .item img{
        width: 100%;
        padding-bottom: 5px;
    }
    
    .hero .items .item p{
        font-size: 18px;
    }
    
    .hero .items .item p.price{
        font-size: 17px;
    }
    
    .hero .video{
        width: 430px;
    }
    .hero .video video{
        width: 80%;
        margin: 0 0 0 44px;
        border: none;
    }    

    .hero .review{
        padding: 40px 0 0 0;
        width: 430px;
        border: none;
    }
    
    .hero .review h1{
        font-size: 25px;
        padding: 0 0 40px 0;
    }
    
    .hero .review .replies{
        flex-direction: column;
        padding: 0;
        border: none;

    }
    
    .hero .review .replies .reply{
        font-size: 17px;
        width: 300px;
        border-top: none;
        border-left: none;
        border-bottom: none;
        border-right: none;
        padding: 0px 0px;
    }
    
    .hero .review .replies .reply p{
        padding-bottom: 0px;
    }
    
    .hero .review .replies .reply p.person{
        padding-bottom:  30px;
        padding-top: 15px;
    }
    
    .hero .blogs{
        background-color: black;
        color: white;
        padding-top: 70px;
        padding-bottom: 20px;
        width: 430px;
    }
    
    .hero .blogs h1{
        padding-left: 20px;
        font-size: 25px;
    }
    
    .hero .blogs button{
        padding: 10px 30px;
        margin-top: -25px;
        border-color: orange;
        margin-right: 40px;
        border-width: 1px;
        font-weight: 900;
    }
    
    .hero .blogs .posts{
        flex-direction: column;
        padding-top: 50px;
    }
    
    .hero .blogs .posts .post{
        flex-direction: column;
        height: 380px;
        width: 150%;
        margin-left: 185px;
        padding-bottom: 40px;
        margin-right: 19px;
    }
    
    
    .hero .blogs .posts .post .write{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 20px;
        border: solid 1px grey;
        font-size: 10px;
        text-align: justify;
    }
    
    .hero .blogs .posts .post .write h2{
        padding-bottom: 15px;
    }

    .hero .blogs .posts .post .write p{
        padding-bottom: 15px;
    }
    
    .hero .blogs .posts .post img{
        width: 100%;
        height: 220px;
        /* display: none; */
    }


    .hero .follow{
        background-color: black;
        color: white;
        width: 430px;
    }
    
    .hero .follow h1{
        font-size: 30px;
    }
    
    .hero .follow a {
        margin-left: 170px;
        font-size: 15px;
        border: solid 1px;
        padding: 10px;
    } 
    
    .hero .follow .insta{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
    }
    
    .hero .follow .insta img{
        padding: 20px 0;
    }
    
    .hero .foot{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px 0px;
        width: 430px;
    }

    .hero .foot img{
        width: 50%;
        margin-left: 7px;
    }
    
    .hero .foot ul{
        margin-left: -10px;
    }

    .hero .foot ul li a{
        font-size: 14px;
    }
    
    .hero .footrow{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px;
        border-bottom: solid 1px;
        width: 430px;
    }
    
    .hero .footrow .cont{
        width: 100%;
        padding-top: 50px;
        margin-left: 10px;
    }
    
    .hero .footrow .cont p{
        padding-bottom: 30px;
        font-size: 15px;
        font-family: 'Jost', sans-serif;
    }
    
    .hero .footrow .cont a button{
        border: solid 1px;
        width: 120px;
    }
    
    .hero .footrow .info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .hero .footrow .info .location, .hero .footrow .info .contact{
        width: 100%;
        font-size: 15px;
        padding: 30px 0 30px 10px;
    }    

    .hero .end{
        width: 430px;
    }    

    /* Start of Cake */
    .hero .cIntro h1{
        margin: 100px 0 0 20px;
        font-size: 30px;
    }

    .hero .cakes{
        padding: 50px 0;
    }
    /* End of Cake */

    /* Start of About */
    .hero .abIntro h1{
        margin: 90px 0 0 25px;
        font-size: 40px;
    }
    /* End of About */
    
    /* Start of Contact */
    .hero .coIntro h1{
        margin: 110px 0 0 10px;
        font-size: 35px;
    }
    
    .hero .map{
        /* text-align: center;
        background-color: black;
        padding: 100px 0; */
        width: 430px;
        padding: 40px 0px;
    }

    .hero .map iframe{
        width: 400px;
        height: 400px;
    }
    
    .hero .message{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 70px;
        padding-top: 40px;
        width: 430px;
    }

    .hero .message h2{
        margin-left: 10px;
    }
    
    .hero .message .form form input{
        width: 40%;
        margin: 20px 0;
        text-indent: 10px;
        margin-left: 10px;     
        margin-right: 25px;
    }
    
    .hero .message .form form input.width{
        width: 90%;
    }
    
    .hero .message .form form button{
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
    }
    /* End of Contact */

    /* Start of Blog */
.hero .blIntro{
    height: 300px;
}

.hero .blIntro h1{
    margin: 185px 0 0 5px;
    font-size: 40px;
}

.hero .blog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    width: 390px;
}

.hero .blog .posters{
    padding: 0;      
}

.hero .blog .posters .poster{
    width: 100%;
    position: relative;
}

.hero .blog .posters .poster .article .date{
    position: absolute;
    margin-left: 20px;
    top: 150px;
}

.hero .blog .posters .poster .article .date h2{
    margin-left: -5px;
}

.hero .blog .posters .poster h2{
    padding: 40px 0 20px 20px;
    width: 100%;
    color: white;
}

.hero .blog .widgets{
    padding-top: 0;
    width: 100%;
    margin-left: 0;
    padding-bottom: 30px;
}


/* .hero .blog .widgets .search{
    display: inline;
    background-color: white;
}

.hero .blog .widgets .search form{
    background-color: white;
    width: 300px;
    height: 100px;
}

.hero .blog .widgets .search form input{
    margin-top: 30px;
    margin-left: 30px;
    padding: 15px 20px; 
    border: solid .1px;
} 

.hero .blog .widgets .search form button{
    background-color: orange;
    color: white;
    padding: 12px 12px 14px 12px;
    border: none;
    font-size: 20px;
}

.hero .blog .widgets .category{
    margin-top: 30px;
    background-color: white;
    color: black;
    width: 300px;
    text-indent: 15px;
}

.hero .blog .widgets .category p{
    padding: 15px 0;
    font-family: 'Jost', sans-serif;
}


.hero .blog .widgets .category h2{
    font-weight: 100;
    padding-bottom: 20px;
    padding-top: 10px;
}

.hero .blog .widgets .recents{
    background-color: white;
    color: black;
    width: 300px;
    margin-top: 30px;
    text-indent: 20px;
}

.hero .blog .widgets .recents h2{
    padding: 20px 0;
    font-weight: 100;
}

.hero .blog .widgets .recents p{
    padding: 20px 0;
    font-family: 'Jost', sans-serif;
}

.hero .blog .widgets .tag{
    background-color: white;
    color: black;
    margin-top: 30px;
    width: 300px;    
    padding-bottom: 30px;
}

.hero .blog .widgets .tag h2{
    text-indent: 14px;
    font-weight: 100;
    padding: 20px 0 20px 0;
}

.hero .blog .widgets .tag p{
    text-align: justify;
    text-indent: 15px;
    margin-top: 10px;
}

.hero .blog .widgets .tag p button{
    color: rgb(255, 166, 2);
    background-color: white;
    border: solid 1px rgb(180, 175, 175);
    padding: 10px 14px;
    font-weight: 600;
}

.hero .blog .widgets .tag p button:hover{
    color: white;
    background-color: orange;
}

.hero .blog .widgets .feeds{
    color: black;
    background-color: white;
    width: 300px;
    margin-top: 30px;
}

.hero .blog .widgets .feeds h2{
    text-indent: 17px;
    padding: 20px 0;
}

.hero .blog .widgets .feeds p{
    display: flex;
    flex-wrap: wrap;
}

.hero .blog .widgets .feeds p img{
    padding: 10px 5px;
}

.hero .blog .widgets .newsletter{
    width: 300px;
    color: black;
    background-color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.hero .blog .widgets .newsletter h2{
    text-indent: 15px;
    padding: 20px 0;
}

.hero .blog .widgets .newsletter input{
    width: 250px;
    margin-left: 14px;
    padding: 10px 10px;
    margin-top: 40px;
    border: solid .1px;
}

.hero .blog .widgets .newsletter button{
    width: 275px;
    padding: 15px;
    margin-left: 14px;
    margin-top: 30px;
    color: orange;
    background-color: white;
    border: solid 1px;
    margin-bottom: 30px;
}

.hero .blog .widgets .newsletter button:hover{
    color: white;
    background-color: orange;
} */
/* End of Blog */
}